<div class="container-fluid">
    <div class="row">
        <div class="card" style="width: 18rem;" *ngFor="let car of pageOfItems">
          <img [src]="'data:image/jpg;base64,' + car.ImageBase64" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{car.Brand}}</h5>
            <p class="card-text">{{car.Model}}</p>
            <a routerLink="/cars/{{car.Id}}" class="btn btn-primary">More Details</a>
            <button class="btn btn-warning" (click)="editCar(car.Id)">Edit</button>
            <button class="btn btn-danger" (click)="deleteCar(car.Id)">Delete</button>
          </div>
      </div>
    </div>
    <jw-pagination [items]="cars" [pageSize]="9" (changePage)="onChangePage($event)"></jw-pagination>
  </div>