<div class="container-fluid">
    <alert></alert>
     <ng-container *ngIf="car">
        <div class="row">
            <div class="col-lg-6">
                <img [src]="'data:image/jpg;base64,' + car.ImageBase64" class="card-img-top" alt="...">
            </div>
            <div class="col-lg-6">
                <h3>Brand: {{car.Brand}}</h3>
                <h2>Model: {{car.Model}}</h2>
                <h2>Description: {{car.Description}}</h2>
                <h3>Fuel type: {{car.Fuel}}</h3>
                <h2>GearLever: {{car.GearLever}}</h2>
                <h2>Price: {{car.Price}}</h2>
                <h2>Year: {{car.Year}}</h2>
                <h2>Color: {{car.Color}}</h2>
                <h2>City: {{car.City}}</h2>
                <h2>HorsePower: {{car.HorsePower}}</h2>
                <h2>Kilometeres: {{car.Kilometeres}}</h2>
            </div>
        </div>
        <form [formGroup]="offerForm">
            <div>
                <label for="price">Price</label>
                <input type="number" class="form-control" formControlName="Price">
            </div>
            <ng-container *ngIf="offerForm.controls['Price'].touched && offerForm.controls['Price'].invalid">
                <p *ngIf="offerForm.controls['Price'].errors?.['min']" class="error">Price must be positive number.</p>
              </ng-container>
            <button type="submit" [disabled]="offer" class="btn btn-primary" (click)="makeOffer()">Make offer</button>
        </form>
     </ng-container>
</div>
