<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <form [formGroup]="carForm" (ngSubmit)="createCar()">
                <div class="form-group">
                  <label for="brand">Brand</label>
                  <input type="text" class="form-control" formControlName="Brand">
                </div>
                <div class="form-group">
                  <label for="model">Model</label>
                  <input type="text" class="form-control" formControlName="Model">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea type="text" class="form-control" formControlName="Description"></textarea>
                </div>
                <p class="field field-icon">
                    <label for="fuel">Fuel: </label>
                    <select name="fuel" id="fuel" class="fuel" formControlName="Fuel">
                      <option value="0">Gasoline</option>
                      <option value="1">Diesel</option>
                      <option value="2">Electric</option>
                    </select>
                  </p>
                  <p class="field field-icon">
                    <label for="gearLever">Gear lever: </label>
                    <select name="gearLever" id="gearLever" class="gearLever" formControlName="GearLever">
                      <option value="0">Manual</option>
                      <option value="1">Automatic</option>
                    </select>
                  </p>
                <div>
                    <label for="price">Price</label>
                    <input type="number" class="form-control" formControlName="Price">
                </div>
                <div>
                    <label for="price">Year</label>
                    <input type="number" class="form-control" formControlName="Year">
                </div>
                <div>
                    <label for="city">City</label>
                    <input type="text" class="form-control" formControlName="City">
                </div>
                <div>
                    <label for="color">Color</label>
                    <input type="text" class="form-control" formControlName="Color">
                </div>
                <div>
                    <label for="color">Image</label>
                    <input type="text" class="form-control" formControlName="ImageFileType">
                </div>
                <button type="submit" class="btn btn-primary">Create car</button>
            </form>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>