@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

form {
    border: 1px solid #0084a7;
    padding: 10% 15%;
    margin-top: 20%;
    margin-bottom: 20%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.error{
    color: red;
}

.star{
    color: red;
}
.form-control{
    box-shadow: 5px 5px 10px;
}

label{
    margin-top: 10px;
}

#file{
    max-width: 100%;
    box-shadow: 5px 5px 10px;
}

.fuel{
    background-color: white;
    box-shadow: 5px 5px 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}
.gearLever{
    background-color: white;
    box-shadow: 5px 5px 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn{
    background-color: #0084a7;
    font-family: 'Roboto';

}

