<header>
    <div class="mini-navbar-wrap">
      <div class="logo-wrap">
        <p class="logo"><span class="logo">Cars Dealer</span></p>
      </div>
      <div class="mini-navbar">
        <ul>
          <li>
            <a routerLink="/login">Login</a>
          </li>
          <li>
            <a routerLink="/register">Register</a>
          </li>
          <li>
            <a routerLink="/register">Admin</a>
          </li>

        </ul>
      </div>
      <div class="mini-navbar">
        <ul>
          <li>
            <a routerLink="/profile">Todor's profile</a>
          </li>
          <li>
            <a href="#">Logout</a>
          </li>
        </ul>
      </div>
    </div>
    <nav>
      <ul>
        <li>
          <a routerLink="/home">Home</a>
        </li>
        <li>
          <a routerLink="/themes">Cars</a>
        </li>
        <li>
          <a routerLink="/themes/new">MyCars</a>
        </li>
        <li>
            <a routerLink="/register">Notifications</a>
        </li>
        <li>
            <a routerLink="/register">Messages</a>
        </li>
      </ul>
    </nav>
  </header>