<header>
    <div class="mini-navbar-wrap">
      <div class="logo-wrap">
        <p class="logo"><span class="logo">Cars Dealer</span></p>
      </div>
      <div class="mini-navbar" *ngIf="!isLogged">
        <ul>
          <li>
            <a routerLink="/login" routerLinkActive="active-link" >Login</a>
          </li>
          <li>
            <a routerLink="/register" routerLinkActive="active-link" >Register</a>
          </li>
       

        </ul>
      </div>
      <div class="mini-navbar" *ngIf="isLogged">
        <ul>
          <li>
            <a routerLink="/profile">{{currentUserName}}'s profile</a>
          </li>
          <li>
            <a href="#" (click)="logoutHandler()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
    <nav *ngIf="isLogged">
      <ul>
        <li>
          <a routerLink="/home" routerLinkActive="active" >Home</a>
        </li>
        <li>
          <a routerLink="/create" routerLinkActive="active" >Create car</a>
        </li>
        <li>
            <a routerLink="/allCars" routerLinkActive="active" >Cars</a>
          </li>
        <li>
          <a routerLink="/myCars" routerLinkActive="active" >MyCars</a>
        </li>
        <li>
            <a routerLink="/notifications" routerLinkActive="active" >Notifications</a>
        </li>
        <li>
            <a routerLink="/messages" routerLinkActive="active" >Messages</a>
        </li>
        <li>
            <a routerLink="/admin" routerLinkActive="active">Admin</a>
        </li>
      </ul>
    </nav>
  </header>