 <body>
    <main>
      <article class="cars">
      <article class="car" style="width: 18rem;" *ngFor="let car of pageOfItems">
        <article class="img-wrapper">
          <img [src]="'data:image/jpg;base64,' + car.ImageBase64" class="card-img-top" alt="...">
        </article>
        <article class="brand-model">
          <h4>{{car.Brand}} {{car.Model}}</h4>
        </article>
        <article class="more-details">
          <a routerLink="/cars/{{car.Id}}" class="details">More Details</a>
          <img src="../../../../../assets/pictures/icons8-trash-24.png" class="trash" (click)="confirmDialog(car.Id)">
          <button class="btn btn-warning" (click)="editCar(car.Id)">Edit</button>
        </article>
      </article>
      </article>
      <article class="card-footer">
        <jw-pagination [items]="cars" [pageSize]="12" (changePage)="onChangePage($event)"></jw-pagination>
      </article>
    </main>
  </body>
