<body>
    <main>
      <article class="cars">
      <article class="car" style="width: 18rem;" *ngFor="let car of cars">
        <article class="img-wrapper">
          <img [src]="'data:image/jpg;base64,' + car.ImageBase64" class="card-img-top" alt="...">
        </article>
        <article class="brand-model">
          <h4>{{car.Brand}} {{car.Model}}</h4>
        </article>
        <article class="description">
            <p>{{car.Description | shorten:30}}</p>
        </article>
        <article class="location">
            <img src="../../../../assets/pictures/icons8-location-24.png" class="loc">
            <p class="city">{{car.City}}</p>
        </article>
        <article class="color">
            <img src="../../../../assets/pictures/icons8-paint-palette-24.png" class="colour">
            <p class="color1">{{car.Color}}</p>
        </article>
        <article class="more-details">
            <button class="decline" (click)="Delete(car.Id)">Decline</button>
            <button class="approve" (click)="Approve(car.Id)">Approve</button>
        </article>
      </article>
      </article>
    </main>
  </body>
