<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">
            <div class="card" style="width: 18rem;" *ngFor="let car of cars index as j">
                <img [src]="'data:image/jpg;base64,' + car.ImageBase64" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{car.Brand}}</h5>
                    <p class="card-text">{{car.Model}}</p>
                    <button class="btn btn-success" (click)="Approve(car.Id)">Approve</button>
                </div>
            </div>
        </div>
    </div>
</div>