<div class="container-fluid">
    <div class="row">
        <div class="card" style="width: 18rem;" *ngFor="let notification of notifications">
          <button class="button" (click)="deleteNotification(notification.Id)">x</button>
          <!-- <img src="../../../../../assets/pictures/icons8-trash-24.png" (click)="deleteNotification(notification.Id)"> -->
          <div class="card-body">
            <p class="card-text">{{notification.Message}}</p>
          </div>
      </div>
    </div>
  </div>