img{
    width: 600px;
    max-width: 100%;
    height: 600px;
}
.wrapper{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.details{
    display: flex;
    flex-direction: column;
}

.info{
    width: 20px;
    height: 20px;
    margin-top: 3px;
    margin-right: 5px;
}

.description{
    display: flex;
    max-width: 100%;
}

.town{
    width: 20px;
    height: 20px;
    margin-top: 3px;
    margin-right: 5px;
}

.city{
    display: flex;
}

.fuel{
    display: flex;
}

.fuelType{
    width: 20px;
    height: 20px;
    margin-top: 3px;
    margin-right: 5px;
}

.gearBox{
    display: flex;
}

.gearLever{
    width: 20px;
    height: 20px;
    margin-top: 3px;
    margin-right: 5px;
}

.price{
    display: flex;
}

.money{
    width: 20px;
    height: 20px;
    margin-top: 3px;
    margin-right: 5px;
}
.color{
    display: flex;
}
.colour{
    width: 20px;
    height: 20px;
    margin-top: 3px;
    margin-right: 5px;
}

.hp{
    display: flex;
}
.horsePower{
    width: 20px;
    height: 20px;
    margin-top: 3px;
    margin-right: 5px;
}

.mileage{
    display: flex;
}

.km{
    width: 20px;
    height: 20px;
    margin-top: 3px;
    margin-right: 5px;
}

p{
    font-weight: bold;
}

.container{
    height: 650px;
}

.oferrBox{
    display: flex;
}

.sendText{
    margin-top: 12px;
    margin-left: 10px;
}

.button{
    margin-top: 10px;
    width: 100px;
    height: 25px;
    background-color: #0099be;
    color: white;
    border: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-right: 40px;
    cursor: pointer;
}

.offerPrice{
    font-weight: bold;
}

.infoOffer{
    font-style: italic;
    color: gray
}