<body>
    <main>
      <article class="offers">
        <article class="offer" *ngFor="let offers of offers">
          <article class="content">
            <p class="message">{{offers.Message}}</p>
            <article class="buttons">
              <button class="decline" (click)="declineOffer(offers.Id)">Decline</button>
              <button class="approve" (click)="acceptOffer(offers.Id)">Accept</button>
            </article>
          </article>
        </article>
      </article>
    </main>
  </body>